
  <div class="art">
    <div *ngIf="arts">
      <div class="container">

        <div class="row">
          <div class="col-4 artcolumn" *ngFor="let art of arts">
            <div class="box">
              <img class="artimage" src="{{art.image}}">
              <div class="arttext">
                <h4>{{art.title}}</h4>
                <p class="date">{{art.dateCreated}}</p>
                <h5> {{art.size}} </h5>
                <button class="button" [routerLink]="['view/', art._id]"> View </button>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
